@tailwind base;
@tailwind components;
@tailwind utilities;

.carousel-container {
  padding: 10px 0;
}

.react-multi-carousel-dot button {
  border: none;
  background: #ccc;
}

.react-multi-carousel-dot--active button {
  background: #555;
}
